#home {
  width: 100%;

  .home__hero {
    width: 100%;
    .home__container {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .home__products {
    padding: 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .products__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .products__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h1 {
          font-size: 26px;
          position: relative;
          font-weight: 600;
          text-align: center;
        }
        h1::after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translate(-50%);
          width: 10%;
          height: 2px;
          background-color: $Secondary-color;
        }
        > p {
          font-size: 14px;
          text-align: center;
          line-height: 1.6;
        }
        a {
          width: 100%;
          text-decoration: none;
          display: flex;
          justify-content: end;
          padding-right: 30px;
          box-sizing: border-box;
          gap: 5px;
          color: $Black;
          font-weight: 500;
          i,
          p {
            transition: 0.4s;
          }
          &:hover {
            p {
              text-decoration: underline;
            }
            i {
              transform: translateX(5px);
            }
          }
        }
      }
      .products__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}
