#home {
  width: 100%;

  .home__hero {
    width: 100%;
    .home__container {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .home__products {
    padding: 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .products__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .products__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h1 {
          font-size: 26px;
          position: relative;
          font-weight: 600;
          text-align: center;
        }

        h1::after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translateX(-50%);
          width: 10%;
          height: 2px;
          background-color: $Secondary-color;
        }

        > p {
          font-size: 14px;
          text-align: center;
          line-height: 1.6;
        }
      }

      .products__bottom {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        row-gap: 30px;
        .product {
          width: 90%;
        }
      }

      > a {
        margin: 0 auto;
        background-color: $Black;
        padding: 10px 15px;
        border-radius: 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        gap: 5px;
        color: $White;
        font-weight: 500;
        transition: 0.4s;

        i,
        p {
          transition: 0.4s;
        }

        &:hover {
          opacity: 0.8;
          i {
            transform: translateX(5px);
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   #home {
//     width: 100%;

//     .home__hero {
//       width: 100%;
//       .home__container {
//         width: 100%;
//         img {
//           width: 100%;
//           object-fit: cover;
//         }
//       }
//     }
//     .home__products {
//       padding: 32px 0;
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       .products__container {
//         width: 80%;
//         display: flex;
//         flex-direction: column;
//         gap: 20px;
//         .products__top {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           gap: 30px;

//           h1 {
//             font-size: 26px;
//             position: relative;
//             font-weight: 600;
//             text-align: center;
//           }

//           h1::after {
//             content: "";
//             position: absolute;
//             bottom: -12px;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 10%;
//             height: 2px;
//             background-color: $Secondary-color;
//           }

//           > p {
//             font-size: 14px;
//             text-align: center;
//             line-height: 1.6;
//           }
//         }

//         .products__bottom {
//           display: grid;
//           place-items: center;
//           grid-template-columns: 33% 33% 33%;
//           row-gap: 30px;
//           .product {
//             width: 90%;
//           }
//         }

//         > a {
//           margin: 0 auto;
//           background-color: $Black;
//           padding: 10px 15px;
//           border-radius: 20px;
//           text-decoration: none;
//           display: flex;
//           justify-content: center;
//           gap: 5px;
//           color: $White;
//           font-weight: 500;
//           transition: 0.4s;

//           i,
//           p {
//             transition: 0.4s;
//           }

//           &:hover {
//             opacity: 0.8;
//             i {
//               transform: translateX(5px);
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 1000px) {
//   #home {
//     width: 100%;

//     .home__hero {
//       width: 100%;
//       .home__container {
//         width: 100%;
//         img {
//           width: 100%;
//           object-fit: cover;
//         }
//       }
//     }

//     .home__products {
//       padding: 32px 0;
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       .products__container {
//         width: 80%;
//         display: flex;
//         flex-direction: column;
//         gap: 20px;

//         .products__top {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           gap: 30px;

//           h1 {
//             font-size: 26px;
//             position: relative;
//             font-weight: 600;
//             text-align: center;
//           }

//           h1::after {
//             content: "";
//             position: absolute;
//             bottom: -12px;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 10%;
//             height: 2px;
//             background-color: $Secondary-color;
//           }

//           > p {
//             font-size: 14px;
//             text-align: center;
//             line-height: 1.6;
//           }
//         }

//         .products__bottom {
//           display: grid;
//           grid-template-columns: 50% 50%;
//           gap: 20px;
//           place-items: center;
//           .product {
//             width: 90%;
//           }
//         }

//         > a {
//           margin: 0 auto;
//           background-color: $Black;
//           padding: 10px 15px;
//           border-radius: 20px;
//           text-decoration: none;
//           display: flex;
//           justify-content: center;
//           gap: 5px;
//           color: $White;
//           font-weight: 500;
//           transition: 0.4s;

//           i,
//           p {
//             transition: 0.4s;
//           }

//           &:hover {
//             opacity: 0.8;
//             i {
//               transform: translateX(5px);
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 650px) {
//   #home {
//     width: 100%;
//     .home__hero {
//       width: 100%;
//       .home__container {
//         width: 100%;
//         height: 200px;
//         background-color: rebeccapurple;
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//         }
//       }
//     }

//     .home__products {
//       padding: 32px 0;
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       .products__container {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 20px;

//         .products__top {
//           width: 80%;
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           gap: 30px;

//           h1 {
//             font-size: 26px;
//             position: relative;
//             font-weight: 600;
//             text-align: center;
//           }

//           h1::after {
//             content: "";
//             position: absolute;
//             bottom: -12px;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 10%;
//             height: 2px;
//             background-color: $Secondary-color;
//           }

//           > p {
//             font-size: 14px;
//             text-align: center;
//             line-height: 1.6;
//           }
//         }

//         .products__bottom {
//           display: grid;
//           grid-template-columns: 100%;
//           gap: 20px;
//           place-items: center;
//           .product {
//             width: 70%;
//             display: none;
//             &:nth-child(-n + 6) {
//               display: flex;
//             }
//           }
//         }

//         > a {
//           margin: 0 auto;
//           background-color: $Black;
//           padding: 10px 15px;
//           border-radius: 20px;
//           text-decoration: none;
//           display: flex;
//           justify-content: center;
//           gap: 5px;
//           color: $White;
//           font-weight: 500;
//           transition: 0.4s;

//           i,
//           p {
//             transition: 0.4s;
//           }

//           &:hover {
//             opacity: 0.8;
//             i {
//               transform: translateX(5px);
//             }
//           }
//         }
//       }
//     }
//   }
// }
