.breadcrumps {
  width: 100%;
  height: 40px;
  background-color: $Breadcrumps-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .breadcrumps__container {
    display: flex;
    width: 90%;
    gap: 10px;
    .crump {
      display: flex;
      gap: 10px;
      a {
        width: 100%;
        display: flex;
        gap: 5%;
        text-decoration: none;
        color: $Secondary-color;
        p {
          width: 90px;
        }
      }
      > p {
        color: $Light-gray-2;
      }
    }
  }
}
