.breadcrumps {
  // width: 100%;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  .breadcrumps__container {
    display: flex;
    width: fit-content;
    gap: 5px;
    .crump {
      display: flex;
      gap: 5px;
      a {
        width: 100%;
        display: flex;
        gap: 5px;
        text-decoration: none;
        color: $Secondary-color;
      }
      > p {
        color: $Light-gray-2;
      }
    }
  }
}
