.notfound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .notfound__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
    .notfound__top {
      width: 100%;
      height: 340px;
      position: relative;
      h1 {
        font-size: 25rem;
        font-weight: 700;
        text-align: center;
        color: $Light-gray;
      }
      span {
        position: absolute;
        font-size: 75px;
        top: 60%;
        left: 50%;
        letter-spacing: 3px;
        transform: translate(-50%, -50%);
        font-weight: 700;
      }
    }
    .notfound__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      p {
        font-size: 2rem;
        font-weight: 700;
      }
      a {
        text-decoration: none;
        button {
          font-family: $Hanken-Grotesk;
          font-weight: 700;
          width: 200px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          cursor: pointer;
          background-color: $Black;
          color: $White;
          border: none;
          transition: 0.4s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
