.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  .pagination__container {
    width: fit-content;
    padding: 20px;
    gap: 10px;
    display: flex;
    button {
      cursor: pointer;
      font-family: $Hanken-Grotesk;
      font-weight: 700;
      border: none;
      width: 30px;
      height: 30px;
      color: $Black;
      transition: 0.4s;
      border: 1px solid transparent;
      &:hover {
        border-color: $Black;
      }
    }
    .active {
      background-color: $Black;
      color: $White;
    }
  }
}
