.quick__view {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .quick__view-container {
    transition: 0.4s;
    width: 50%;
    height: 60%;
    opacity: 0;
    visibility: hidden;
    .quick__view-content {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      background-color: $White;
      display: flex;
      position: relative;
      > i {
        font-size: 2rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: 0.4s;
        color: $Black;
        &:hover {
          opacity: 0.6;
        }
      }
      .quick__view-left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          width: 90%;
          height: fit-content;
        }
        .quick__view-actions {
          bottom: 10px;
          right: 10px;
          position: absolute;
          width: 70%;
          display: flex;
          align-items: end;
          flex-direction: column;
          padding: 10px 0;
          gap: 5px;
          .quick__view-icon {
            position: relative;
            cursor: pointer;
            i {
              text-decoration: none;
              color: $Secondary-color;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              font-size: 1.7rem;
            }
            .tooltip {
              position: absolute;
              padding: 0 10px;
              line-height: 28px;
              font-size: 12px;
              letter-spacing: 0.3px;
              visibility: hidden;
              opacity: 0;
              white-space: nowrap;
              color: transparent;
              background-color: transparent;
              transition: 0.4s;
              left: auto;
              right: calc(100% + 10px); /* Positioning from the right */
              top: 50%;
              transform: translateY(-50%);
              a {
                visibility: visible;
                text-decoration: none;
                color: $White;
              }
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -5px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent; /* Color of the triangle */
                transition: 0.4s;
                transform: translateY(-50%);
              }
            }

            &:hover {
              .tooltip {
                visibility: visible;
                opacity: 1;
                background-color: #000;
                color: #fff;
              }
              .tooltip::after {
                border-left: 5px solid #000; /* Color of the triangle */
              }
            }
          }
        }
      }
      .quick__view-right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;

        .quick__view-right-container {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          > h1 {
            padding-top: 20px;
            font-size: 1.7rem;
            font-weight: 700;
          }
          > p {
            font-size: 1.5rem;
            &:nth-child(3) {
              font-size: 1rem;
            }
          }
          .quick__view-basket {
            height: 75px;
            background-color: re;
            display: flex;
            align-items: center;
            gap: 20px;
            .quick__view-counter {
              height: 40px;
              display: flex;
              button {
                width: 20px;
                border: 1px solid $Light-gray-2;
                cursor: pointer;
                transition: 0.4s;
                font-size: 1rem;
                background-color: #f9f9f9;
                &:hover {
                  opacity: 0.6;
                }
              }
              button:first-child {
                border-right: none;
              }
              button:last-child {
                border-left: none;
              }
              input {
                font-family: $Hanken-Grotesk;
                box-sizing: border-box;
                border: 1px solid $Light-gray-2;
                background-color: #ffffff;
                width: 40px;
                padding: 10px;
                transition: 0.4s;
                text-align: center;
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                &:focus {
                  outline-color: transparent;
                  outline-width: 0px;
                  border-color: black;
                }
              }
            }
            .quick__view-add {
              display: flex;
              gap: 5px;
              cursor: pointer;
              width: 122px;
              height: 40px;
              justify-content: center;
              background-color: $Black;
              color: $White;
              border: none;
              font-family: $Hanken-Grotesk;
              letter-spacing: 1.2px;
              font-weight: 700;
              align-items: center;
              transition: 0.4s;
              &:hover {
                opacity: 0.6;
              }
            }
          }
          .quick__view-description {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              font-size: 0.9rem;
              &:nth-child(1) {
                line-height: 1.4;
              }
              &:nth-child(2) {
                font-weight: 700;
                display: flex;
                gap: 7px;
                span {
                  font-weight: initial;
                }
              }
              &:nth-child(3) {
                font-weight: 700;
                display: flex;
                gap: 7px;
                span {
                  font-weight: initial;
                  display: flex;
                  gap: 5px;
                  i {
                    color: orange;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.quick__view-show {
  background-color: rgba(0, 0, 0, 0.674);
  opacity: 1;
  visibility: visible;
  .quick__view-container {
    opacity: 1;
    visibility: visible;
  }
}
