footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $Secondary-color;
  border-top: 1px solid $Light-gray;
  .footer__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    .footer__top {
      border-bottom: 1px solid $Light-gray;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      height: 246px;
      gap: 30px;
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        width: 100%;
      }
      .footer__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin-bottom: 25px;
          font-weight: 700;
          position: relative;
        }
        h1:after {
          position: absolute;
          content: "";
          bottom: -10px;
          left: 0;
          width: 10%;
          height: 10%;
          background-color: $Light-gray;
        }
        ul {
          padding-left: 40px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            list-style: disc;
            text-decoration: none;
            color: $Secondary-color;
            transition: 0.4s;
            width: max-content;
          }
          a:hover {
            color: $Dark-blue;
          }
        }
      }
    }
    .footer__bottom {
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 650px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Secondary-color;
    border-top: 1px solid $Light-gray;
    .footer__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      .footer__top {
        border-bottom: 1px solid $Light-gray;
        display: flex;
        height: initial;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 1.6;
          width: 100%;
        }
        .footer__row {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          h1 {
            margin-bottom: 25px;
            font-weight: 700;
            position: relative;
          }
          h1:after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            width: 10%;
            height: 10%;
            background-color: $Light-gray;
          }
          ul {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            a {
              list-style: disc;
              text-decoration: none;
              color: $Secondary-color;
              transition: 0.4s;
              width: max-content;
            }
            a:hover {
              color: $Dark-blue;
            }
          }
        }
      }
      .footer__bottom {
        height: 65px;
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
// @media screen and (max-width: 1000px) {
//   footer {
//     width: 100%;
//     height: fit-content;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $Secondary-color;
//     border-top: 1px solid $Light-gray;
//     .footer__container {
//       width: 80%;
//       display: flex;
//       flex-direction: column;
//       .footer__top {
//         padding: 20px;
//         border-bottom: 1px solid $Light-gray;
//         display: flex;
//         flex-wrap: wrap;
//         height: initial;
//         gap: 30px;
//         p {
//           font-size: 15px;
//           font-weight: 400;
//           line-height: 1.6;
//           width: 40%;
//           height: 25%;
//         }
//         .footer__row {
//           width: 40%;
//           height: 25%;
//           display: flex;
//           flex-direction: column;
//           h1 {
//             margin-bottom: 25px;
//             font-weight: 700;
//             position: relative;
//           }
//           h1:after {
//             position: absolute;
//             content: "";
//             bottom: -10px;
//             left: 0;
//             width: 10%;
//             height: 10%;
//             background-color: $Light-gray;
//           }
//           ul {
//             padding-left: 20px;
//             display: flex;
//             flex-direction: column;
//             gap: 10px;
//             a {
//               list-style: disc;
//               text-decoration: none;
//               color: $Secondary-color;
//               transition: 0.4s;
//               width: max-content;
//             }
//             a:hover {
//               color: $Dark-blue;
//             }
//           }
//         }
//       }
//       .footer__bottom {
//         height: 65px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
// }
// @media screen and (max-width: 650px) {
//   footer {
//     margin-bottom: 100px !important;
//     width: 100%;
//     height: fit-content;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $Secondary-color;
//     border-top: 1px solid $Light-gray;
//     .footer__container {
//       width: 75%;
//       display: flex;
//       flex-direction: column;
//       .footer__top {
//         border-bottom: 1px solid $Light-gray;
//         display: flex;

//         flex-direction: column;
//         align-items: start;
//         height: initial;
//         gap: 30px;
//         p {
//           font-size: 15px;
//           font-weight: 400;
//           line-height: 1.6;
//           width: fit-content;
//         }
//         .footer__row {
//           width: fit-content;
//           display: flex;
//           flex-direction: column;
//           h1 {
//             margin-bottom: 25px;
//             font-weight: 700;
//             position: relative;
//           }
//           h1:after {
//             position: absolute;
//             content: "";
//             bottom: -10px;
//             left: 0;
//             width: 10%;
//             height: 10%;
//             background-color: $Light-gray;
//           }
//           ul {
//             padding-left: 20px;
//             display: flex;
//             flex-direction: column;
//             gap: 10px;
//             a {
//               list-style: disc;
//               text-decoration: none;
//               color: $Secondary-color;
//               transition: 0.4s;
//               width: max-content;
//             }
//             a:hover {
//               color: $Dark-blue;
//             }
//           }
//         }
//       }
//       .footer__bottom {
//         height: 65px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
// }
